# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/
*.spec

# MediaPipe cache / temp
*.tmp

# Large exported videos
*.mp4
*.mov
*.avi